<div class="row">
<div class="data_left">
	<h6>
		<a name="Create Servers" href="/server/new_server" >Glance</a>
  		<a name="Console" href="/server/console">Console</a>
   		<a name="Create Servers" href="/server/new_server" >Config Files</a>
		<a name="File System" href="/server/permissions">File System</a>
		<a name="Permissions" href="/server/backups">Permissions</a>
		<a name="Automated Tasks" href="/server/backups">Automated Tasks</a>
		<a name="backups" href="/server/backups">Backups</a>
	</h6>
</div>
<div class="data_right">
<img src="<%= '../images/game_icons/' + server_info.game + '.png' %>" alt="<%= server_info.game %>" height=30% width=12% align=left float=left style="margin-right: 0%">
<p>
<%= server_info.backup %>
<br>
<%= server_info.game %>
<br>
<%= server_info.hostname %>
<br>
<%= server_info.id %>
<br>
<%= server_info.ip %>
<br>
<%= server_info.name %>
<br>
<%= server_info.owner %>
<br>
<%= server_info.permissions %>
<br>
<%= server_info.ram %>
<br>
<%= server_info.slots %>
<br>
<%= server_info.status %>
<br>
<%= server_info.storage %>
</p></div>
</div>
